@define-color window_bg_color #FAFAFA;
@define-color window_fg_color #1C1C1C;

@define-color view_bg_color #FFFFFF;
@define-color view_fg_color #1C1C1C;

@define-color headerbar_bg_color #FAFAFA;
@define-color headerbar_fg_color #1C1C1C;
@define-color headerbar_border_color #D0D0D0;
@define-color headerbar_backdrop_color @window_bg_color;

@define-color card_bg_color #FFFFFF;
@define-color card_fg_color #1C1C1C;

@define-color popover_bg_color #FFFFFF;
@define-color popover_fg_color #1C1C1C;

@define-color shade_color rgba(0, 0, 0, 0.1);
@define-color borders rgba(0, 0, 0, 0.15);